@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100svh;
  background-color: #f9f9f9;
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.levitate {
  animation: levitate 3s ease-in-out infinite;
}

.custom-card {
  transition: filter 0.3s ease-in-out;
}

.custom-card:hover {
  filter: brightness(0.9);
}
